<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=111, initial-scale=1.0">
    <title>Spam Detector</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
</head>
<body>
    <div id="prompt">
        <p>Enter the message/mail below to evaluate</p>
    </div>

    <div class="main">
        <form method="POST" id="data">
            <textarea name='message' id="textbox" placeholder="Enter message"></textarea>
            <button type="submit">Check</button>
        </form>
    </div>

    {% if prediction %}

        <div id="prediction">
            <p>We expect it to be {{prediction}}.</p>
        </div>
    {% endif %}
</body>
</html>