<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>

    <div class="registration">
        <h2>Register New User</h2><br>
        
        <form method="POST" id="form">
            <p>May I know your name please? ;)</p><br>
            <input type="text" name="username" id="username" placeholder="Enter Full Name" required><br>

            <p>Email ID too, please?</p><br>
            <input type="email" name="email" id="email" placeholder="Email" required><br>

            <p>Your phone got a password, right?</p><br>
            <input type="password" name="password" id="password" placeholder="Enter password here too"><br>

            <button type="submit" id="submitbtn">Register</button>
        </form>
    </div>
    
</body>
</html>